@font-face {
  src: url('./assets/fonts/Comfortaa-Bold.ttf');
  font-family: Comfortaa-Bold;
}

@font-face {
  src: url('./assets/fonts/Comfortaa-Medium.ttf');
  font-family: Comfortaa-Medium;
}

@font-face {
  src: url("../node_modules/react-native-vector-icons/Fonts/Ionicons.ttf");
  font-family: Ionicons;
}

@font-face {
  src: url("../node_modules/react-native-vector-icons/Fonts/Feather.ttf");
  font-family: Feather;
}
